body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.content {
    margin-left: 190px;
    margin-top: 60px; 
    padding: 20px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.content h1 {
    color: #333;
    font-size: 25px;
}


.top-panel {
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(121, 120, 120, 0.973);
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.title-text {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-circle {
    width: 30px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-initials {
    color: #333;
    font-size: 20px;
}

.username {
    color: #333;
    font-size: 16px;
}


.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 16px; 
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex: 0 0 48%; 
}

.gender-radio {
    display: flex;
    align-items: center;
}

.gender-radio input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 15px;
    
}

.form-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
}

.form-actions button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 18px;
}

.cancel-btn {
    background-color: #a30606;
    color: #fff;
    margin-top: 30px;
}

.cancel-btn:hover {
    background-color: #772222;
    
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    margin-top: 30px;
}

.submit-btn:hover {
    background-color: #135194;
}