body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    text-align: left;
    width: 83%;
    margin-top: 20px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    margin-top: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    display: block;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}
.login {
    text-decoration: none;
    color: #007bff;;
}
.password-requirements {
    color: red;
}